.classpath
.gradle/*
gradle/*
.project
.settings/*
1.png
autobuild.bat
bin/*
CREDITS-fml.txt
dumpclass/*
forge-1.7.10-10.13.4.1614-1.7.10-changelog.txt
gradlew
gradlew.bat
libs/*
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
eclipse/*
